<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css"  href="/static/css/application.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/manage.css">
    <script type="text/javascript" src="/static/js/jquery.pjax.js"></script>
    <script src="/static/js/audioplayer.js"></script>
    {% block css %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}" target="_parent">DemoVoice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">排行榜</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">歌單</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">發現</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">徵選</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">活動</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">APP</a>
                </li>
            </ul>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown mr-1">
                        <a href="#" class="btn nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"><span class="oi oi-magnifying-glass"></span></a>
                        <div class="dropdown-menu">
                            <div class="pr-3 pl-3">
                                <input class="dropdown-item" placeholder="找音樂? DemoVoice">
                            </div>
                            <div class="dropdown-divide"></div>
                            <div class="mt-2 pr-3 pl-3">
                                <p>搜尋紀錄</p>
                                <input class="dropdown-item" placeholder="你還沒有搜尋紀錄">
                            </div>
                        </div>
                    </li>
                    {% if request.session.is_login %}
                        <li class="nav-item">
                            <a href="{% url 'manage' %}" class="btn nav-link" ><span class="oi oi-person"></span> {{ request.session.user_name }} </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="btn btn-primary">登出</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/^home/login" class="btn btn-danger" >登入/註冊</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% include 'player.html' %}
    {% block content1 %}{% endblock %}

    {% block js %}{% endblock%}
 <footer class="bg-dark text-white pt-2">
    <div class="container">
        <div class="row">
            <div class="col-4">
               <ul class="list-unstyled"><strong>關於</strong>
                   <li>關於街聲</li>
                   <li>會員服務條款</li>
                   <li>隱私權保護政策</li>
                   <li>著作權保護措施</li>
                   <li>免責聲明</li>
                   <li>相關產品與服務</li>
               </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled text-size"><strong>測試</strong>
                   <li>合作</li>
                   <li>合作媒體</li>
               </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled text-size"><strong>其他</strong>
                   <li>人才招募</li>
                   <li>DemoVoice媒體</li>
                   <li>常見問題/會員中心</li>
               </ul>
            </div>
            <div class="col-12 text-center">
                <p>Copyright@TEST 2019-07-28 DemoVoice</p>
            </div>

        </div>

    </div>

</footer>
<script>
    $(document).pjax('a[target!=_blank]', '#container', {fragment:'#container', timeout:8000});

    $(document).on('pjax:send', function() {
       $('head>script[pjax-load="pjax-load"]').remove();
       $('head>link[pjax-load="pjax-load"]').remove();
    });

    $(document).on('ready pjax:end', function() {
        var Href = location.href;
			Href = Href.replace(/^http:\/\/[^/]+/, "");
			var addr = Href.substr(Href.lastIndexOf('/', Href.lastIndexOf('/') - 1) + 1);
			var index = addr.lastIndexOf("\/");
			var addrLast = decodeURI(addr.substring(index + 1, addr.length));
			var str = decodeURI(addr.substring(0, index));

		if (addrLast == 'manage')  {
		    PJAX_loadJS('JS','/static/js/manage.js');
		    PJAX_loadJS('JS','/static/js/home.js');
		};

		if (addrLast == 'mylike')  {
		    PJAX_loadJS('JS','/static/js/manage.js');
		    PJAX_loadJS('JS','/static/js/home.js');
		};

        if (addrLast == ''){
		    PJAX_loadJS('JS','/static/js/YTplayer.js');
            PJAX_loadJS('JS','https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js');
            PJAX_loadJS('JS','/static/js/home.js');
            PJAX_loadJS('CSS','https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
            PJAX_loadJS('CSS','https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css');
            PJAX_loadJS('CSS','/static/css/register.css');
		};


    });

    function PJAX_loadJS(type,src){
        if (type == 'JS') {
            let script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = src;
            script.setAttribute('pjax-load','pjax-load')
            document.head.appendChild(script);
        };

        if (type == 'CSS') {
            $('link[href=src]').remove();
            let script = document.createElement('link');
            script.rel = 'stylesheet';
            script.href = src;
            script.setAttribute('pjax-load','pjax-load')
            document.head.appendChild(script);
        };


    };
</script>
</body>

</html>