{% extends "base.html" %}
{% block title %} DemoVoice {% endblock %}
{% block css %}
{% if pjax != 'true' %}
<link pjax-load="pjax-load" rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link pjax-load="pjax-load" rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
<script pjax-load="pjax-load" type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link pjax-load="pjax-load" rel="stylesheet" type="text/css" href="/static/css/register.css">
<script pjax-load="pjax-load" type="text/javascript" src="/static/js/YTplayer.js"></script>
{% endif %}

{% endblock %}
{% block content1 %}
<div id="container" class="pjax-container container-fluid overflow-x-hidden">
        <div class="slider slick-slider mb-4 slick-list " style="padding:0px 50px;">
            <div class="center">
                {% for voice in voices %}
                    <div class="slick-slider mt-2">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Lg7MbK7Zk28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    <div>
        <div class="row justify-content-between">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="border-block box-shadow">
                    <p>AAAAA</p>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                &nbsp;<h3>即時熱門</h3>
                <div class="col-sm-8 col-md-8 col-lg-10 mb-2 text-right">
                    <button class="btn btn-danger btn-sm" role="button">全部播放</button>
                </div>
                <div id="song_list">
                    <ul class="list-group list-group-flush mb-5">
                        {% for voice in voices %}
                        <li class="list-group-item d-flex align-items-center">
                            <div class="mr-2"><h4>{{voice.id}}</h4></div>
                            <div>
                                <a href="#">{{voice.Songname}}</a>
                                <p>{{voice.author}}</p>
                            </div>
                        </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}