{% extends "base.html" %}
{% block title %} DemoVoice {% endblock %}
{% block css %}
<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/register.css">
{% endblock %}
{% block content1 %}
{% include 'player.html' %}
<div class="container-fluid overflow-x-hidden">
    <div>
        <div class="slider slick-slider mb-4 slick-list " style="padding:0px 50px;">
            <div class="center">
                {% for voice in voices %}
                    <div class="slick-slider mt-2">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Lg7MbK7Zk28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <div class="row justify-content-between">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="border-block box-shadow">
                    <p>AAAAA</p>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                &nbsp;<h3>YoutubeVoice 即時熱門</h3>
                <div class="col-sm-8 col-md-8 col-lg-10 mb-2 text-right">
                    <button class="btn btn-danger btn-sm" role="button">全部播放</button>
                </div>
                <div id="song_list">
                    <ul class="list-group list-group-flush mb-5">
                        {% for voice in voices %}
                        <li class="list-group-item d-flex align-items-center">
                            <div class="mr-2"><h4>{{voice.id}}</h4></div>
                            <div>
                                <a href="#">{{voice.Songname}}</a>
                                <p>{{voice.author}}</p>
                            </div>
                        </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.center').slick({
          centerMode: true,
          centerPadding: '10%',
          slidesToShow: 1,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '5%',
                slidesToShow: 1
              }
            },
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '5%',
                slidesToShow: 1
              }
            }
          ]
        });
    });

</script>
<script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
</script>
{% endblock %}