{% extends "base.html" %}
{% load staticfiles %}
{% block title %} 登入 | DemoVoice {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}

{% block content1 %}
<div  class="pjax-container container-fluid overflow-x-hidden">
      <form class="form-signin border-block mt-2 box-shadow" method="post" action="login" >
          {% if message %}
          <div class="alert alert-warning">{{ message }}</div>
          {% endif %}

          {% csrf_token %}
          <h4 class="form-signin-heading"><strong>歡迎使用 DemoVoice</strong></h4>
          <!--{{login_form}} -->
          <div class="form group mt-3 form-control-large">
              <input type="text" class="form-control" id="username" name="username" placeholder="帳號/電子郵件">
          </div>
          <div class="form group mt-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="密碼">
          </div>
          <div class="form group mt-3">
              <label class="checkbox float-left">
                  <input type="checkbox" value="remember-me"> 保持登入狀態
              </label>
              <a href="#" class="float-right text-secondary">忘記密碼</a>
          </div>
          <button class="btn btn-danger mt-3 btn-block" type="submit" >登入</button>
          <button class="btn btn-fb mt-3 btn-block" type="submit">使用Facebook帳號登入</button>

      </form>
      <div class="border-block">
          <a href="{% url 'register' %}">還沒有帳號嗎?<span class="text-danger"> 立即註冊</span></a>
      </div>
</div>
{% endblock %}