{% extends "base.html" %}
{% block title %} DemoVoice {% endblock %}
{% block css %}
    {% if pjax != 'true' %}
        <script pjax-load="pjax-load" id="pjax-load" type="text/javascript" src="/static/js/manage.js"></script>
    {% endif %}
{% endblock %}
{% block content1 %}
<div id="container" class="container-fluid overflow-x-hidden">
    {% include 'managetitle.html' %}
    <div class="container">
        <div class="row">
            {% include 'managelist.html' %}
            <div class="col-sm-9 col-md-9 col-lg-9">
                <ul class="nav mb-2">
                    <li class="nav-item">{% block manage %}音樂庫{% endblock %}</li>
                    <li class="nav-item bread-item active">{% block uploads %}我的歌單{% endblock %}</li>
                </ul>
                <div class="box-shadow border-padding mb-2">
                    {% block managecontent %}
                    <h4>歌單</h4>
                    <ul id="playlist" class="list-group list-group-flush ">
                        {% for playlist in playlists %}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            <div class="mr-3"><span class="oi oi-headphones"></span></div>
                            <div>
                                <a href="#" class="play-voice" >{{playlist.Songname}}</a>
                                <p class="info1">一首歌曲</p>
                            </div>
                            <div class="text-right ml-auto">
                                <button value="N" class="btn btn-sm btn-light btn-circle like"><span class="align-items-center oi oi-heart"></span></button>
                                <button  class="btn btn-sm btn-light btn-circle replay"><span class="align-items-center oi oi-random"></span></button>
                            </div>
                        </li>
                       {% endfor %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--<script type="text/javascript">
$(function(){
    $("list-group-item a").filter(function(){
        return $(this).href == location.href
    }).parent().addClass('list-active').siblings().removeClass('list-active');
});

    $(document).ready(function(){
        $("list-group-item").click(function(){
            $("list-group-item").removeClass("list-active");
            $(this).addClass("list-active");
        });
    });
</script>-->