<link rel="stylesheet" type="text/css" href="/static/css/video.css">
<link rel="stylesheet" type="text/css" href="/static/css/audioplayer.css">
<script src="/static/js/audioplayer.js"></script>

<div class="fixed-bottom hidden react-player ">
        <audio  id="Rock3" src="/static/uploads/Sleep_Away.mp3" preload="auto"></audio>
        <audio  id="Rock2" src="/static/uploads/Kalimba.mp3" preload="auto"></audio>
        <div id="audiocontroller" class="ml-2 mr-2">
            <button id="play" class="btn btn-sm btn-dark btn-circle"><span id="icon-audio" class="text-center oi oi-media-play"></span></button>
            <button id="pause" class="hidden btn btn-sm btn-dark btn-circle"><span class="oi oi-media-pause"></span></button>
            <a id="currentTrack" value="Rock">Sleep Away</a>
        </div>
    </div>

<script>

</script>