<link rel="stylesheet" type="text/css" href="/static/css/video.css">
<link rel="stylesheet" type="text/css" href="/static/css/audioplayer.css">
<script src="/static/js/audioplayer.js"></script>

<div class="fixed-bottom hidden react-player ">
        <audio  id="Rock" src="/static/uploads/Sleep_Away.mp3" preload="auto"></audio>
        <div id="audiocontroller" class="mr-2">
            <a id="play" href="#" class="btn"><span class="oi oi-media-play"></span></a>
            <a id="pause" href="#" class="btn"><span class="oi oi-media-pause"></span></a>
            <a id="currentTrack" value="Rock">Sleep Away</a>
        </div>
    </div>

<script>

</script>