.dynamiclink, .dynamiclink:hover {
  cursor: pointer;
  color: #23527c;
}

.audiocontroller {
  padding: 10px 5px 5px;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}

#play {
  margin-left: 5px;
}

.react-player {
    max-width:200px;
    background-color:rgba(200,200,200,0.8) !important;
    border-top-left-radius:8px;
    border-top-right-radius:8px;

}

.progress{
    max-height:3px;
}

@media (min-width:900px){
    .react-player{
        display:block;
    }
}