.dynamiclink, .dynamiclink:hover {
  cursor: pointer;
  color: #23527c;
}

#audiocontroller {
  background-color:#ffffff;
  border: 1px solid #ccc;
  padding: 5px;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  position:fixed;
}

#play {
  margin-left: 5px;
}